@import "tailwindcss";

@theme {
  --color-primary: #855844;
  --color-accent: #F69142;
  --color-beige: #F3E4CF;
  --color-white: #FFFFFF;
  --color-black: #000000;
  
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-beige);
  color: var(--color-black);
  font-family: var(--font-sans);
}
